.hello {
  font-family: "puffin-arcade-chrome", sans-serif, Rubik, Arial;
  font-weight: 800;
  font-style: normal;
  font-size: 42px;
  text-align: center;
  padding-top: 72px;
}

.madison_pic {
  width: 35%;
  height: auto;
  object-fit: cover;
  padding-right: 10px;
  padding-bottom: 10px; 
  padding-left: 10%;
  float: left; 
}


.about_me_paragraphs {
  font-family: Rubik, Arial;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

.resume_link {
  font-family: Rubik, Arial;
  font-size: 16px;
  color: #331b12;
}

.resume_link:hover {
  color: #2a7f9e;
}

.socials_icons_about {
  display: flex;
  flex-direction: row; 
}

.instagram_icon_about {
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  filter: brightness(0) saturate(100%) invert(35%) sepia(94%) saturate(342%) hue-rotate(150deg) brightness(101%) contrast(91%);
}

.linkedin_icon_about {
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  filter: brightness(0) saturate(100%) invert(35%) sepia(94%) saturate(342%) hue-rotate(150deg) brightness(101%) contrast(91%);
}

@media screen and (max-width: 700px) {
  .image_wrap {
    float: left; 

  }
  .madison_pic {
    width: 80%;
    object-fit: cover;
}
}

@media screen and (max-width: 400px) {
  .image_wrap {
    float: left; 

  }
  .madison_pic {
    width: 80%;
    object-fit: cover;
}
}