.hello {
  font-family: "puffin-arcade-chrome", sans-serif, Rubik, Arial;
  font-weight: 800;
  font-style: normal;
  font-size: 42px;
  text-align: center;
}

.madison_pic {
  width: 360px;
  object-fit: cover;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px; 
  padding-left: 10%; 
}

.about_me_paragraphs {
  font-family: Rubik, Arial;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

.resume_link {
  font-family: Rubik, Arial;
  font-size: 16px;
  color: #331b12;
}

.resume_link:hover {
  color: #f59098;
}