.design_header {
  font-family: "puffin-arcade-chrome", sans-serif, Rubik, Arial;
  font-weight: 800;
  font-style: normal;
  font-size: 42px;
  text-align: center;
}

.design_content_header {
  font-family: "puffin-arcade-liquid", sans-serif, Rubik, Arial;
  font-weight: 800;
  font-style: normal;
  font-size: 42px;
  text-align: center;
}

.here_link {
  text-decoration: none;
  font-weight: bold;
  color: #2a7f9e;
}

.here_link:hover {
  color: #331b12;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 6% 20px 6%;
  
}

.columns {
  flex: 30%;
  max-width: 30%;
  padding-right: 20px;
}

.portfolio_images {
  width: 100%;
  margin: 0;
  padding-bottom: 4px;
  object-fit: contain;
}

.content_title {
  font-family: Rubik, Arial;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
  color: #331b12;
}

.content_title:hover {
  color: #f59098;
}

.content_description {
  font-family: Rubik;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

.music_images {
  float: left;
  width: 46%;
  object-fit: contain;
  padding: 12px;
}

.row {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20px;;
}

.image_column {
  flex: 50%;
  padding-right: 12px;
  padding-left: 12px;
}

.images {
  width: 100%;
}

.text_column {
  flex: 50%;
  font-family: Rubik;
  text-align: left;
  margin-top: -14px;
}


/*
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}