/*font-family: "puffin-arcade-regular", sans-serif;
font-weight: 800;
font-style: normal; */

/*font-family: "puffin-arcade-chrome", sans-serif;
font-weight: 800;
font-style: normal; */

/*font-family: 'Rubik', sans-serif;*/

/*
pink: #f59098
yellow #ffda97
darkblue #2a7f9e
green #7da548
lightblue #6fafca
orange #ea6232
darkbrown #331b12
cream #f4ebd9

*/

.body {
  padding-top: 80px;
  background-color: #f4ebd9;
  color: #331b12;
}