.header {
  height: 60px;
  background-color: #f59098;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0;
  right:0;
  z-index: 200;
}

.logo_corner {
  display: flex;
  flex: 4.4;
  align-items: center;
}

.logo {
  height: 42px;
  margin-left: 30px;
  margin-top: 5px;
}

.socials_menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.instagram_icon {
  height: 22px;
  margin-right: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.linkedin_icon {
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.menu {
  display: flex;
  flex: 1;
  position: relative;
}

.dropdown_menu {
  display: inline-block;
  margin: 14px 20px;
  background-color: #ffda97;
  border: none;
  border-radius: 8px;
  padding: 4px 10px 4px 10px;

  font-family: "puffin-arcade-regular", sans-serif;
  font-style: normal;
  font-size: 18px;
  z-index: 100;
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 52px;
  left: 20px;
  background-color: #f4ebd9;
  font-family: Rubik, Helvetica;
  font-size: 14px;
  min-width: 100px;
}

.dropdown_content a {
  color: #331b12;
  padding: 8px 10px;
  display: block;
  text-decoration: none;
}

.dropdown_content a:hover {
  background-color: #ffda97;
}

.menu:hover .dropdown_content {
  display: block;
}

.menu:hover .dropdown_menu {
  background-color: #6fafca;
}