.body {
  padding-top: 60px;
}

.left_text, .right_text {
  font-family: Rubik;
  font-weight: 600;
  font-size: 16px;
}

.left_text {
  margin-top: 40%;
  margin-left: 40%;
}
.right_text {
  margin-top: 90%;
  margin-left: 8%;
  margin-right: 16%;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
  position: relative;
}

.studio_background {
  width: 100%;
  object-fit: contain;
}

.portfolio {
  width: 7.5%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  right: 38.15%;
  margin-top: 15.15%;
  clip-path: polygon(0% 0%, 228% 100%, 100% 100%, 0% 56%);
}

.portfolio:hover {
  cursor:pointer;
}

.about {
  width: 5.5%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  right: 30%;
  margin-top: 13.2%;
  clip-path: polygon(0% 0%, 165% 50%, 100% 100%, 0% 70%);
}

.blog {
  width: 9%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  right: 54.8%;
  margin-top: 22.5%;
  clip-path: polygon(59% 0%, 104% 40%, 40% 102%, -2% 59%);
}

.shop {
  width: 6%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  right: 50%;
  margin-top: 33.5%;
  clip-path: polygon(0% 14%, 28% 3%, 100% 32%, 100% 91%, 73% 100%, 0% 72%);
}

.shop_bg {
  width: 6%;
  object-fit: contain;
  position: absolute;
  z-index: 0;
  right: 50%;
  margin-top: 33.5%;
}

.design {
  display: none;
  width: 7.3%;
  object-fit: contain;
  position: absolute;
  z-index: 2;
  right: 36.8%;
  margin-top: 18.6%;
  clip-path: polygon(0% 0%, 100% 55%, 100% 100%, 0% 45%);
}

.writing {
  display: none;
  width: 7.3%;
  object-fit: contain;
  position: absolute;
  z-index: 2;
  right: 40.5%;
  margin-top: 13.7%;
  clip-path: polygon(0% 0%, 100% 55%, 100% 100%, 0% 45%);
}

.footnote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40px;

border:0;

  font-family: Rubik, Arial;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}